nav {
    display: inline-block;
    position: inherit;
    top: 20px;
    margin: 0px;
    clear: both;
    font-family: cursive;
    margin-right: 0px;
    
    
}

#links{
    margin: 0 auto;
    margin-left: 500px; 
    width: 500px; 
    font-size: 12px; 
    display: flex;
    float: right;
    justify-content: space-between;
    align-items: center;
}

body{
    width: 100%;
    height: 100%;
    background:blanchedalmond;
    background-position: cover;
    position: relative;
    animation-name: tobby;
    animation-duration: 10s;
    transition-delay: 2s;
}
@keyframes tobby {
    from {background: chocolate}
    to{background-color: whitesmoke;}
}

.section {
     margin-top: 200px;
    margin-left: 500px;
    position: relative;
    width: 600px;
    height: 220px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.logo {
    position: absolute;
    width: 145px;
    height: 150px;
    background:url(tobi.jpg);
    background-size: cover;
    filter: brightness(1.5) contrast(1.5);
    border-radius: 45%;

    
}
.text {
    position: absolute;
    width: 100%;
    height: 100%;
    animation: rotateText 10s linear infinite;
    
}
@keyframes rotateText 
{
    0%
    {
        transform: rotate(360deg);
    }
    100%
    {
    transform: rotate(0deg)
    }
}

.text span {
    position: absolute;
    left: 50%;
    font-size: 1.2em;
    transform-origin:0 100px;

}

.about-me {
    position: absolute;
    margin-top: 200px;
    font-size: medium;
    font-family: 'Segoe UI', Verdana, sans-serif;
    justify-content: right;
    align-items: right;
    margin-right: 800px;
    width: 600px ; 

}

p.my {
    justify-content: left;
    align-items: left;
    font-size: x-large;
    display: flex;
}

#skills{
    margin-right: 100px;
    margin-top: 1000px;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    transform-style: preserve-3d;
    animation: rotation 20s infinite linear;

    
    
}

#skills:hover{
    animation-play-state: paused;
}

#skills figure{
    display: block;
    position: absolute;
    width: 90%;
    height: 78%;
    left: 10px;
    top: 10px;
    overflow: hidden;
    border: solid 0px white;
}

#skills figure:nth-child(1){transform: rotateY(0deg) translateZ(288px);}
#skills figure:nth-child(2){ transform: rotateY(40deg) translateZ(288px);}
#skills figure:nth-child(3){ transform: rotateY(80deg) translateZ(288px);}
#skills figure:nth-child(4){ transform: rotateY(120deg) translateZ(288px);}
#skills figure:nth-child(5){ transform: rotateY(160deg) translateZ(288px);}
#skills figure:nth-child(6){ transform: rotateY(200deg) translateZ(288px);}
#skills figure:nth-child(7){ transform: rotateY(240deg) translateZ(288px);}
#skills figure:nth-child(8){ transform: rotateY(280deg) translateZ(288px);}
#skills figure:nth-child(9){ transform: rotateY(320deg) translateZ(288px);}
#skills figure:nth-child(10){ transform: rotateY(360deg) translateZ(288px);}

#skills img{
    -webkit-filter: grayscale(0);
    cursor: pointer;
    transition: all .3s ease;
    width: 50%;
}
#skills img:hover{
    -webkit-filter: grayscale(0);
    transform: scale(1.0,1.2);
}
@keyframes rotation{
    from{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(360deg);
    }
}